/* Icons */


.icons {
    list-style: none;
    margin: 0;
    padding: 20px;

    li {
        display:inline;
        margin-right: 25px;
    }
    .icon {
        font-size: 40px;
        display: inline;
        > .label {
            display: none;
        }
    }
}
